node_modules/
.next/
out/
dist/
coverage/
.env*.local
.env
*.log
.DS_Store
.vscode/
.idea/
next-env.d.ts
*.tsbuildinfo

# next-pwa generated service worker
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/fallback-*.js
